@use '../mixins/' as m;

.restaurants-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @include m.media-small {
    height: fit-content;
  }
}